.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    z-index: 200;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    z-index: 200;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    z-index: 200;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    z-index: 200;
  }
  
  .borderCircle {
    border-radius: 9999px;
    z-index: 200;
  }
  
  .colorInherit {
    color: inherit;
    z-index: 200;
  }
  
  .padding1px {
    padding-top: 1px;
    z-index: 200;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 200;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
    z-index: 200;
  }
  
  .lightText {
    color: #666;
    z-index: 200;

  }




  .cover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
z-index: 0;
  }
